{% extends "layout.html" %}
{% block body %}
<div class="flex flex-col items-center justify-center w-screen h-screen text-center">
	<div class="flex flex-col p-4 m-4 overflow-scroll border-4 -w-4 md:w-1/2 rounded-2xl bg-black/70" >        
		<!-- <h1 class="text-4xl tracking-widest underline">WE ARE ETHICAL HACKERS</h1> --> 
		<!-- 	<p class="m-auto my-6 font-medium tracking-widest text-xg"> -->
		<!-- 	We, at 4FARMY, are a community of ethical hackers, developers, reporters, and other professionals dedicated to promoting the responsible use of technology. Led by our esteemed community leader, Known_black_hat, our goal is to provide guidance and support for new and emerging hackers, as well as fostering a community of like-minded individuals who share a passion for technology and its many applications. -->
          <!-- </p> -->
		<!-- 	<p class="m-auto my-6 font-medium tracking-widest text-xg"> -->
<!-- Our community, 4FARMY, is built on the foundation of ethics and integrity. We believe that the use of technology should always be guided by a sense of responsibility and a commitment to doing no harm. Our team of experienced hackers, developers, and other experts work together to provide valuable resources, training, and mentorship to new and upcoming hackers. -->

<!-- As a community, we are committed to sharing our knowledge and skills with others, and promoting the responsible use of technology. Whether you are a seasoned veteran or just starting out in the world of hacking and cybersecurity, 4FARMY is the perfect place for you to connect with like-minded individuals and learn from the best. -->

<!-- We believe that the future of technology is in the hands of those who understand its potential and are committed to using it for the betterment of society. Join us today and become a part of the 4FARMY community, where the possibilities are endless and the potential for growth is limitless. -->
		<!-- 	</p> -->
  <h1 class="text-2xl font-medium">WE ARE ETHICAL HACKERS</h1>
  <p class="my-4 text-lg">We, at 4FARMY, are a community of ethical hackers, developers, reporters, and other professionals dedicated to promoting the responsible use of technology. Led by our esteemed community leader, Known_black_hat, our goal is to provide guidance and support for new and emerging hackers, as well as fostering a community of like-minded individuals who share a passion for technology and its many applications.</p>
  <p class="my-4 text-lg">Our community, 4FARMY, is built on the foundation of ethics and integrity. We believe that the use of technology should always be guided by a sense of responsibility and a commitment to doing no harm. Our team of experienced hackers, developers, and other experts work together to provide valuable resources, training, and mentorship to new and upcoming hackers.</p>
  <p class="my-4 text-lg">As a community, we are committed to sharing our knowledge and skills with others, and promoting the responsible use of technology. Whether you are a seasoned veteran or just starting out in the world of hacking and cybersecurity, 4FARMY is the perfect place for you to connect with like-minded individuals and learn from the best.</p>
  <p class="my-4 text-lg">We believe that the future of technology is in the hands of those who understand its potential and are committed to using it for the betterment of society. Join us today and become a part of the 4FARMY community, where the possibilities are endless and the potential for growth is limitless.</p>

		  </div> 
</div>
		  

{% endblock %}
