{% extends "layout.html" %}
{% block body %}
<div class="m-auto container text-center my-28  ">
        <h1 class="text-4xl tracking-widest">WE ARE ETHICAL HACKERS</h1> 
		<p class="font-medium tracking-wider m-auto w-1/2 text-xg justify-center my-6">
          We have made community named <b>4FARMY</b> for hackers, dev, reporters and etc. 
          The Owner of this community in Known_black_hat. 
          The main motive of making this community is to help and guide new/upcoming hackers. 
          </p>
</div>
		  

{% endblock %}
