{% extends "layout.html" %}
{% block body %}
<div class="flex flex-col items-center justify-center w-screen h-screen text-center">
        <h1 class="text-4xl tracking-widestmd:text-4xl">WE ARE ETHICAL HACKERS</h1> 
		<p class="w-1/2 m-auto my-6 font-medium tracking-widest text-xg">
          We have made community named <b>4FARMY</b> for hackers, dev, reporters and etc. 
          The Owner of this community in Known_black_hat. 
          The main motive of making this community is to help and guide new/upcoming hackers. 
          </p>
</div>
		  

{% endblock %}
