<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
	<style>
		body {
			background-color: rgb(61, 54, 54);
			background-image: url('https://cutewallpaper.org/28/computer-hacking-wallpaper-gif/hacker-gif-hacker-discover-share-gifs.gif');
			font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
			 }
		.active {
			border-bottom: solid white 4px;
				}
	</style>
	<script>
		function check_active_nav_bar () {
						const current_path = location.pathname;
						const link = document.querySelectorAll("nav a")
						
						link.forEach((link)=>{ 
												
									if ( link.getAttribute("href") === current_path ) { link.classList.add("active") }

								})
				}
	</script>
  </head>

<body class="subpixel-antialiased text-white" onload="check_active_nav_bar()">

	<nav class="flex justify-between text-white mt-9">
		<span class="m-auto px-2 md:ml-20 md:mr-20  mb-0 text-2xl border-4 rounded"> 4FARMY </span>
		<span class="flex hidden font-semibold space-x-11 pr-10 md:block">
			<a href="/" class="cursor-pointer hover:border-b-4 hover:border-slate-700 pb-2 rounded">Home</a>
			<a href="/login" class="cursor-pointer hover:border-b-4 hover:border-slate-700 pb-2 rounded">Log In</a>
			<a href="/signup" class="cursor-pointer hover:border-b-4 hover:border-slate-700 pb-2 rounded">Sign Up</a>
			<a href="/join" class="cursor-pointer hover:border-b-4 hover:border-slate-700 pb-2 rounded">Join Us</a>
		</span>
	</nav>
	<main>
		{% block body %} {% endblock %}
	</main>
</body>
</html>
