<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
	<style>
		body {
			background-color: rgb(61, 54, 54);
			background-image: url('https://cutewallpaper.org/28/computer-hacking-wallpaper-gif/hacker-gif-hacker-discover-share-gifs.gif');
			font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
			 }
		.active {
			border-bottom: solid white 4px;
				}
	</style>
  </head>

<body class="subpixel-antialiased text-white ">

	<nav class="flex justify-between text-white mt-9">
		<span class="px-2 ml-20 text-2xl border-4 rounded"> 4FARMY </span>
		<span class="flex font-semibold space-x-11 pr-10">
			<a href="/" class=" {{ indact }} cursor-pointer hover:border-b-4 hover:border-slate-700">Home</a>
			<a href="/login" class=" {{ logact }} cursor-pointer hover:border-b-4 hover:border-slate-700">Log In</a>
			<a href="/signup" class=" {{ sigact }} cursor-pointer hover:border-b-4 hover:border-slate-700">Sign Up</a>
			<a href="/join" class=" {{ joiact }} cursor-pointer hover:border-b-4 hover:border-slate-700">Join Us</a>
		</span>
	</nav>
	<main>
		{% block body %} {% endblock %}
	</main>
</body>
</html>
