{% extends "layout.html" %}
{% block body %}

<br><br>
<main role="main" class="inner cover">
      <div>
      <form class="form-signin" action="/login" method="post">
        <br><br><h1><b>LOGIN </b></h1><br><br>
        <h1 class="h3 mb-3 font-weight-normal">
          <!-- login response logic-->
          {% if login==True   %}
          <script>alert("Logged In")</script>
          {% elif login==False %}
          <script>alert("Wrong Credentials")</script>
          {% else %}
          {% endif %}


        </h1>
        <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </div>
  
{% endblock %}