{% extends "layout.html" %}
{% block body %}

      <div id="form" class="flex flex-row items-center justify-center w-screen h-screen text-center">
		<form class="flex flex-col items-center justify-center p-5 bg-transparent border-4 rounded-lg md:w-1/4 md:h-1/2 md:text-2xl -translate-y-24" action="/login" method="post">
		  <h1 class="mt-2 text-2xl underline md:text-4xl"><b>LOGIN </b></h1>

        <div id="error"></div>
          <!-- login response logic-->
          {% if login==True   %}
          <script>

            document.querySelector("#error").innerHTML="Sucessfully Logged In"
          
          </script>
          {% elif login==False %}
          <script>

            document.querySelector("#error").innerHTML="Wrong Credentials"
          
          </script>
          {% else %}
          {% endif %}


        <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="email" class="p-1 my-4 mt-[3rem] text-black text-center rounded-md" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="p-1 my-4 text-center text-black rounded-md" placeholder="Password" required>
      <div class="mb-3 checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </div>
  
{% endblock %}
