{% extends "layout.html" %}
{% block body %}
<main role="main" class="inner cover">
      <div>
      <form class="form-signin" action="/signup" method="post">
        <img class="mb-4" src="https://cdn.discordapp.com/icons/887038417756639263/4b3931494bccada9b39caa2776c73153.webp?size=100" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Create your account</h1>
        <div id="error"></div>

        <label for="name" class="sr-only">User Name</label>
      
        <input type="text" id="name" name="Name" class="form-control" placeholder="User Name" required autofocus>
      
        <label for="Email" class="sr-only">Email Address</label>
      
        <input type="email" id="Email" name="Email" class="form-control" placeholder="Email Address" required autofocus>
      
        <label for="Password" class="sr-only">Password</label>
      
        <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required>
      
        <label for="Confirm Password" class="sr-only">Confirm Password</label>
      
        <input type="password" id="ConfirmPassword" class="form-control" oninput="confirm_password()" placeholder="Confirm Password" required>
      <script>
        // Verify for password and confirm password
        function confirm_password() {
        const password = document.querySelector("#Password").value;
        const confirmpassword = document.querySelector("#ConfirmPassword").value;
        if (! (password === confirmpassword)) {document.querySelector("#error").innerHTML="Password didn't matched"}
        else {document.querySelector("#error").innerHTML=null}
      }
      </script>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      {% if account_exist==True %}
      <script>
        document.querySelector("#error").innerHTML="Account already exists"
      </script>
      {% else %}
      {% endif %}
    </form>
  </div>
  
{% endblock %}